.counterMy {
  background-color: rgb(174, 214, 250);
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  border-radius: 50px;
  color: #0d14fc;
}
.resNone {
  color: white;
}
.cd_hr {
  display: none;
}
.welcomeImg {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 1000px) {
  .counterMy {
    display: flex;
    flex-direction: column;
    width: 90%;
    color: red;
  }
  .counterMy h1 {
    text-align: center;
  }
  .resNone {
    display: none;
  }
  .cd_hr {
    display: block;
  }
  .welcomeImg {
    width: 100%;
  }
}
